
@{
    ViewBag.Title = "AddTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-0 pe-5">
    <a href="@Url.Action("Index","Home")" class="navbar-brand ps-5 me-0">
        <h1 class="text-white m-0">Industro</h1>
    </a>
    <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
             
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Teams</a>
                <div class="dropdown-menu bg-light m-0">
                    <a href="@Url.Action("AllTeams","Admin")" class="dropdown-item">All Teams</a>
                    <a href="@Url.Action("AddTeam","Admin")" class="dropdown-item">Add Team</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Projects</a>
                <div class="dropdown-menu bg-light m-0">
                    <a href="@Url.Action("AllProjects","Admin")" class="dropdown-item">All Projects</a>
                    <a href="@Url.Action("AddProject","Admin")" class="dropdown-item">Add Projects</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                <div class="dropdown-menu bg-light m-0">
                    <a href="@Url.Action("AllServices","Admin")" class="dropdown-item">All Services</a>
                    <a href="@Url.Action("AddService","Admin")" class="dropdown-item">Add Services</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Testimonials</a>
                <div class="dropdown-menu bg-light m-0">
                    <a href="@Url.Action("AllTestimonials","Admin")" class="dropdown-item">All Testimonials</a>
                    <a href="@Url.Action("AddTestimonial","Admin")" class="dropdown-item">Add Testimonials</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Welcome @Session["Username"]!</a>
                <div class="dropdown-menu bg-light m-0">
                    <a href="@Url.Action("Index","Home")" class="dropdown-item">LogOut</a>
                    <a href="#" class="dropdown-item">Profite</a>

                </div>
            </div>
        </div>
        @*<a href="" class="btn btn-primary px-3 d-none d-lg-block">Get A Quote</a>*@
    </div>
</nav>
<!-- Navbar End -->
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-3 text-white animated slideInRight">Add Teams</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb animated slideInRight mb-0">
                <li class="breadcrumb-item"><a href="#">Admin</a></li>
                <li class="breadcrumb-item"><a href="#">Teams</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Teams</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Main Body Start-->
<div class="container" data-wow-delay="0.5s" style="padding-left:50px; padding-right:50px">
    <form>
        <div class="row g-3">
            <div class="col-md-12">
                <div class="form-floating">
                    <input type="text" class="form-control TeamMName" id="name" placeholder="Your Name">
                    <label for="name">Your Name</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <input type="text" class="form-control TeamHead" id="email" placeholder="Your Email">
                    <label for="email">Your Team Head</label>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <label for="avatar">Choose a profile picture:</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input class="TeamImg" type="file" id="Teamavatar" name="avatar" accept="image/png, image/jpeg, image/jpg" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <input type="text" class="form-control TeamPos" id="subject" placeholder="Subject">
                    <label for="subject">Your Position</label>
                </div>
            </div>


            <div class="col-12">
                <button class="btn btn-primary py-3 px-5" id="btnSaveTeam" type="button">Save</button>
                <label style="color:darkorange;font-size:18px;" id="lblresponseTeam"></label>
            </div>
        </div>
    </form>
</div>
<!-- Main Body End-->
@section customscript{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnSaveTeam').on('click', function () {
                $('#lblresponseTeam').val('');
                $('#btnSaveTeam').text('Please wait...');
                var name = $(".TeamMName").val();
                var head = $(".TeamHead").val();
                
                var pos = $(".TeamPos").val();
                var about = $(".TeamAbout").val();


                var formData = new FormData();

                formData.append('MemberTeam', name);
                formData.append('HeadTeam', head);
                formData.append('PositionTeam', pos);
                formData.append('AboutYouTeam', about);


                var fileTeam = $("#Teamavatar").get(0).files[0];
                formData.append('Teamavatar', fileTeam);
                $.ajax({
                    type: "POST",
                    url: "../Admin/AddTeam",
                    data: formData,
                    processData: false,  // Don't process the data
                    contentType: false,  // Don't set content type (FormData will automatically set it)
                    success: function (response) {
                        $('#btnSaveTeam').text('Saved');
                        $('#lblresponseTeam').text(response.responsetext);
                    },
                    error: function (response) {
                        console.log('error');
                    }
                });
            });
        });
    </script>
}
